/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-may-2020, 22:58:39
    Author     : papitojaime
*/

.fondoColoresFarmacia{
background: rgb(186,250,254);
background: linear-gradient(90deg, rgba(186,250,254,0.5340511204481793) 0%, rgba(113,200,250,0.5228466386554622) 50%, rgba(186,250,254,0.5284488795518207) 100%);
}

.primeraColumna {
width: 300px;
}
.segundaColumna {
width: 500px;
}

.primeraColumnaDialog {
width: 150px;
}
.segundaColumnaDialog {
width: 300px;
}

.primeraColumnaDialog2 {
width: 200px;
margin: 20px;
}
.segundaColumnaDialog2 {
width: 300px;
margin: 20px;
}

.ui-growl-item {
background: rgb(252,19,0);
background: linear-gradient(90deg, rgba(252,19,0,0.5648634453781513) 0%, rgba(250,113,113,0.4023984593837535) 100%);
}
